
    <h1>Register User</h1>
    <label>Username:</label>
    <br>
    <input type="text" id="username" [(ngModel)]='username'>
    <br>
    <label>Email:</label>
    <br>
    <input type="text" id="email" [(ngModel)]='email'>
    <br>
    <label>Phone Number:</label>
    <br>
    <input type="number" id="phoneNumber" [(ngModel)]='phoneNumber'>
    <br>
    <label>Password:</label>
    <br>
    <input type="text" id="password" [(ngModel)]='password'>
    <br>
    <label>Confirm Password:</label>
    <br>
    <input type="text" id="confirmPassword" [(ngModel)]='confirmPassword'>
    <br>
    <br>
    <label>Create A Security Question:</label>
    <br>
    <label>Question:</label>
    <br>
    <input type="text" id="securityQuestion" [(ngModel)]='securityQuestion'>
    <br>
    <label>Answer:</label>
    <br>
    <input type="text" id="securityAnswer" [(ngModel)]='securityAnswer'>
    <br><br>
    <button type="button" (click)="OnClickSubmit()" >Submit</button>
    
