<h1>Hello {{username}}</h1>

<form>

<input type="radio" id="username" name="targetType" value="user" [(ngModel)]="targetType">
<label for="username">Request By Username</label>
<br>
<input type="radio" id="email" name="targetType" value="email" [(ngModel)]="targetType">
<label for="email">Request By Email</label>
<br>
<input type="radio" id="phoneNumber" name="targetType" value="phone" [(ngModel)]="targetType">
<label for="phoneNumber">Request By Phone Number</label>
</form>


<ng-container *ngIf="targetType=='user'">
    <br>
    <label>Username to request from:</label>
    <br>
    <input type="text" id="username" [(ngModel)]='target'>
</ng-container> 
<ng-container *ngIf="targetType=='email'">
    <br>
    <label>Email to request from:</label>
    <br>
    <input type="text" id="email" [(ngModel)]='target'>
</ng-container> 
<ng-container *ngIf="targetType=='phone'">
    <br>
    <label>Phone Number to request from:</label>
    <br>
    <input type="text" id="phone" [(ngModel)]='target'>
</ng-container> <br>

<ng-container *ngIf="targetType!=''">
    <br>
    <label>How much are you requesting?</label>
    <br>
    <input type="number" id="total" [(ngModel)]='total'>
    <br><br>
    <button type="submit" (click)="createTransaction()">Submit</button>
</ng-container>